# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e12b6f76a67e7b05d0defd1848b1ca8e70a8b2660e4baed9a8a6b6593428cd29fa57632f08438c902cd1ace847285e4f70142a438626f4248c5b5acd36fb5c18

test:
  secret_key_base: 979d731b8d1bfb29f7ba72c8943a36d1f6a49564fac62555e64b282239bc266e1a0baafabc66843e3a671a3fbadb892f01c4f42216ab5c8ad588f37465a7fd03

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
