@import 'bootstrap/variables';

.footer {
  //margin-top: $padding-large-vertical;
  padding-top: $padding-large-vertical;
  background: $rgba-primary-4;
  color: $gray-lighter;

  a {
    color: #fff;
    font-weight: normal;
    &:hover {
      text-decoration: none;
      color: $gray-lighted;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}