

.footer {
  margin-top: $padding-large-vertical;
  padding-top: $padding-large-vertical;
  background: $brand-info;
  color: $gray-lighter;

  a {
    color: $gray-lighted;
    &:hover {
      text-decoration: none;
      color: $gray-lighter;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}