.jumbotron.header-image {

  background: none center center no-repeat lighten($brand-primary, 42%);
  background-size: cover;
  padding-top: $padding-large-vertical * 3;
  padding-bottom: $padding-large-vertical * 3;

  h1 {
    font-size: $font-size-h1 * 1.5;

    small {
      font-size: $font-size-h4;
    }
  }

  .breadcrumb {
    a {
      color: $gray-light;

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}
