[data-url] {
  cursor: pointer;
}

.translation_missing {
  color: lighten($brand-danger, 30%);
}

.gochi-font {
  font-family: $font-family-gochi;
}

.white {
  color: white;
}

.main-header {
  h1 {
    margin-top: 0;
  }
  margin: 2em 0;
}

.vertical-align-row {
  display: flex;
  align-items: center;
  background-color: lighten($brand-primary, 47%);
}

.pictogram {
  font-size: 40px;
}

.dropdown-hover:hover {
  .dropdown-menu {
    display: block;
  }
}

.dl-stripped {
  @media (min-width: 768px) {
    dt {
      width: 60px;
      overflow: visible;
      white-space: normal;
    }

    dd {
      margin-left: 80px;
      margin-bottom: 0.5em;
    }
  }
}

.btn-reverse {
  color: white;
  background: none;
  transition: all 0.5s ease-out;

  &:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.col-no-padding {
  padding: 0;

}

.full-width {
  width: 100%;
}

.gallery {
  .gallery-item {
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
  }
}

.vertical-margin-lg {
  margin-top: $padding-large-vertical * 2;
  margin-bottom: $padding-large-vertical * 2;
}