.carousel {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  height: 70vh;


  .carousel-controls {
    z-index: 500;
    position: absolute;

    top: 50%;
    transform: translate(0, -50%);
  }

  .carousel-previous {
    left: 0;
  }

  .carousel-next {
    right: 0;
  }

  img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;

    display: none;
  }

  img.active {
    //position: absolute;
    left: 50%;
    z-index: 150;
    display: inline;
  }

  img.previous {
    left: -50%;
    display: none;
    z-index: 150;
  }

  img.next {
    left: 150%;
    display: none;
    z-index: 150;
  }

  .dots {
    //position: absolute;
    z-index: 500;

    //bottom: - $grid-gutter-width/3;
    width: 100%;
  }

  .fa-inverse {
    color: rgba(255, 255, 255, 0.7)
  }

}